  



 
   #box1{

 	border: 1px solid black;
 	padding: 2px 2px 2px 2px ;
 	background-color: red;
 } 

  #box2{
  	
 	border: 1px solid black;
 	padding: 2px 2px 2px 2px ;
 	background-color: red;

 } 
  #box3{
  	
 	border: 1px solid black;
 	padding: 2px 2px 2px 2px ;
 	background-color: red;

 } 
.1{
	text-align: left;
}